*{
	margin: 0;    
	padding: 0;   
}  
.cv{  
	width: 800px;  
	height: 1200px;  
	background-color: antiquewhite;
	margin: 50px auto 50px auto; 
} 
 
.cv_area{ 
	padding: 80px; 
} 
  
.cv_header{ 
	display: flex;
	justify-content: space-between; 
} 
 
 
 .About{
	 color: #6B8E23; 
	 padding-top: 20px
 }
.profile_img{ 
	width: 150px;
	height: 150px; 
} 
.web{
	 color: #6B8E23;
  
 }
table{
	margin-top: 20px; 
	width: 100%;
	text-align: center;
} 
table, th, td{
	border: 1px solid #000; 
	border-collapse: collapse; 
}

.Experienc{
	color: #6B8E23; 
}

.skill{
	color: #6B8E23; 

}

.traing{
	color: #6B8E23; 

}

.Signature{
	text-align: right;
}